asgiref==3.3.4
autopep8==1.5.7
decorator==4.4.2
Django==3.2
django-admin-footer==1.0.1
django-admin-interface==0.14.2
django-admin-logs==1.0.2
django-appconf==1.0.4
django-apptemplates==1.5
django-cors-headers==3.7.0
django-admin-honeypot==1.1.0
django-defender==0.9.1
django-extensions==3.1.0
django-filter==2.4.0
django-postgres-metrics==0.10.1
django-redis==4.12.1
django-request==1.5.6
django-safedelete==0.5.6
django-simple-history==3.0.0
django-timezone-field==4.1.1
djangorestframework==3.12.2
Faker==5.6.0
future==0.18.2
Markdown==3.3.3
MarkupSafe==2.0.1
Pillow==8.1.0
psycopg2-binary==2.8.6
python-decouple==3.4
pytz==2020.5
redis==3.5.3
six==1.15.0
sorl-thumbnail==12.7.0
django-cachalot
drf-yasg
djangorestframework-simplejwt
celery
django-celery-beat
django-celery-email